:root {
  --white: #ffffff;
  --dark-grey: #646161;
  --light-grey: #dadada;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --title-font-size: 20px;
  --description-font-size: 12px;
}

#root {
  color: var(--white);
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 5vw;
  padding-top: 50px;
  padding-left: 10px;
}

body {
  background: rgb(7,5,46);
  background: linear-gradient(90deg, rgba(7,5,46,1) 17%, rgba(15,37,92,1) 48%, rgba(61,111,144,1) 85%);
}

header {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

#showsDropdownList,
#episodesDropdownList {
  padding: 14px 8px 12px 1px;
}

#search {
  box-sizing: border-box;
  padding: 14px 20px 12px 17px;
  border: none;
  border-radius: 45px;
}

#counter {
  padding-top: 12px;
  color: var(--white);
}

h1 {
  color: var(--dark-grey);
  font-size: var(--title-font-size);
}

p {
  line-height: 17px;
  padding: 16px;
}

.show-status,
.show-rating,
.show-runtime {
  padding: 3px;
}

p,
.show-status,
.show-rating,
.show-runtime {
  color: var(--dark-grey);
  font-size: var(--description-font-size);
}

.show-img-div,
.episode-title,
.show-status,
.show-rating,
.show-runtime {
    padding-left: 19px;
}

.tv-episode, 
.tv-show {
  background-color: var(--white);
  margin-top: 54px;
  border-radius: 20px;
}